body {
  text-align: center;
  align-content: center;
  background: url("../images/slider-home.jpg") no-repeat center top;
  background-size:cover;
}

table {
	margin-left:auto; 
    margin-right:auto
}

p {
	font-size: 25px;
}