body {
  text-align: center;
  background-color: #ffc65a;
  background-size:cover;
}

.main {
  margin-top: 80px;
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

table {
	background: #fdfd96;
 	background-position: left top;
 	background-repeat: repeat;
	margin-left:auto; 
  margin-right:auto;
  border-collapse: separate; 
  border: 2px solid gray; 
  border-radius: 15px;
  padding: 2% 2% 2% 2%;
}

table.no_border {
  border: none;
}

table.no_background {
  border: none;
  background-color: #FAE96F;
}

p {
	font-size: 25px;
}

td,th {
	text-align: center;
  padding: 0 2rem 0 2rem;
}

p.error {
  font-size: 14px;
  color: red;
}


p.form{
  font-size: 18px;
  text-align: right;
}